In [11]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
import pandas as pd
import numpy as np

In [19]:
harun_no_detrending = pd.read_csv(r'D:\Uni\GP\Feel_My_Heart-A_Non_Contact_HeartRate_Measuring_Tool\Testing\Harun_Resting\No_Detrending\HR_Results.csv')

harun_no_detrending

    74.70703125
0     77.636719
1     76.171875
2     77.636719
3     79.833984
4     79.833984
..          ...
60    79.101562
61    81.298828
62    80.566406
63    79.101562
64    80.566406

[65 rows x 1 columns]

In [20]:
harun_detrended = pd.read_csv(r'D:\Uni\GP\Feel_My_Heart-A_Non_Contact_HeartRate_Measuring_Tool\Testing\Harun_Resting\Detrended\HR_Results.csv')
harun_detrended

    75.439453125
0      78.369141
1      76.904297
2      77.636719
3      80.566406
4      79.101562
..           ...
60     79.101562
61     82.031250
62     80.566406
63     79.101562
64     81.298828

[65 rows x 1 columns]

In [21]:
Ground_Truth = pd.read_csv(r'D:\Uni\GP\Feel_My_Heart-A_Non_Contact_HeartRate_Measuring_Tool\Testing\Harun_Resting\Ground_Truth\HR_Ground_Truth.csv')
Ground_Truth = Ground_Truth[:-3]

Ground_Truth

    Heart_Rates
0            87
1            87
2            87
3            87
4            87
..          ...
60           75
61           75
62           75
63           76
64           76

[65 rows x 1 columns]

In [22]:
np.sqrt(mean_squared_log_error(Ground_Truth, harun_detrended))

0.07802151505907828

In [23]:
np.sqrt(mean_squared_log_error(Ground_Truth, harun_no_detrending))

0.0748350143756784

In [27]:
mean_squared_error(Ground_Truth, harun_no_detrending,multioutput='uniform_average',squared=False)

5.792771468757446

In [34]:
mean_squared_error(Ground_Truth, harun_no_detrending,squared=False)/(np.max(harun_no_detrending)-np.min(harun_no_detrending))

74.70703125    0.304195
dtype: float64

In [35]:
mean_squared_error(Ground_Truth, harun_detrended,squared=False)/(np.max(harun_detrended)-np.min(harun_detrended))

75.439453125    0.302889
dtype: float64